Hey <%= user_salutation(@user) %>,
<br /><br />
We are building Rakun Analyticsto provide a simple and ethical approach to tracking website visitors.
We're super excited to have you on board!
<br /><br />
Here's how to get the most out of your Rakun Analyticsexperience:
<br /><br />
* <%= link("Enable email reports", to: "https://analytics.rakun.ie/docs/email-reports") %> and notifications for <%= link("traffic spikes", to: "https://analytics.rakun.ie/docs/traffic-spikes") %><br />
* <%= link("Integrate with Search Console", to: "https://analytics.rakun.ie/docs/google-search-console-integration") %> to get keyword phrases people find your site with<br />
* <%= link("Invite team members and other collaborators", to: "https://analytics.rakun.ie/docs/users-roles") %><br />
* Set up easy goals including <%= link("404 error pages", to: "https://analytics.rakun.ie/docs/error-pages-tracking-404") %>, <%= link("file downloads", to: "https://analytics.rakun.ie/docs/file-downloads-tracking") %> and <%= link("outbound link clicks", to: "https://analytics.rakun.ie/docs/outbound-link-click-tracking") %><br />
* <%= link("Opt out from counting your own visits", to: "https://analytics.rakun.ie/docs/excluding") %><br />
* If you're concerned about adblockers, <%= link("set up a proxy to bypass them", to: "https://analytics.rakun.ie/docs/proxy/introduction") %><br />
<br /><br />
Then you're ready to start exploring your fast loading, ethical and actionable <%= link("Rakun Analyticsdashboard", to: "https://analytics.rakun.ie/sites") %>.
<br /><br />
Have a question, feedback or need some guidance? Do reply back to this email.
<br /><br />
Thanks,<br />
Larry
<br />
--
<br />
<%= plausible_url() %><br />
{{{ pm:unsubscribe }}}
